@mixin displayFlex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

@mixin displayFlexBetween {
  @include displayFlex();
  justify-content: space-between;
}

@mixin displayFlexColumn {
  @include displayFlex();
  flex-direction: column;
}

@mixin positionAbsoluteCenter {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
